:root {
	--appetizer: url("https://res.cloudinary.com/dmtjposo5/gab/appetizer/jz9bz8o4dreqxqqhhnr7");
	--main: url("https://res.cloudinary.com/dmtjposo5/gab/main/xiqdzedfefrvcmakfp6u");
	--dessert: url("https://res.cloudinary.com/dmtjposo5/gab/dessert/jlusmortt9bltxktrzxw");
	--beverage: url("https://res.cloudinary.com/dmtjposo5/gab/beverage/kcppriy7nikyshpzxjmr");
}

.center-text {
	text-align: center;
}

.custom-footer {
	height: 64px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 9999;
}

li {
	list-style-type: square;
}

.hours {
	text-align: left;
}

.footer-padding {
	padding-bottom: 64px;
}

.menu-canvas {
	background-color: white;
	box-shadow: 0 0 4px grey, 0 0 8px black;
	aspect-ratio: 4/3;
	border-radius: 3px;
}

.menu-section {
	background-size: cover, contain;
	aspect-ratio: inherit;
	border-radius: inherit;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-section:active, .menu-section:hover {
	opacity: 0.5;
}

.menu-title {
	display: inline-block;
	color: white;
	text-shadow: 0 0 4px black, 0 0 8px black;
	font-size: 2.5em;
}

.appetizer-bg-img {background-image: var(--appetizer)}
.main-bg-img {background-image: var(--main)}
.dessert-bg-img {background-image: var(--dessert)}
.beverage-bg-img {background-image: var(--beverage)}

/* .layout {
	text-shadow: 0 0 1px black, 0 0 2px black;
	font-weight:bolder;
} */