.center-text {
	text-align: center;
}

.custom-footer {
	height: 64px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

li {
	list-style-type: square;
}

.hours {
	text-align: left;
}

.footer-padding {
	padding-bottom: 64px;
}